
<div class="follow-area bg-gray section-padding-80-0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Follow Instagram</h2>
                    <p>@Barbelllens</p>
                </div>
            </div>
        </div>
        <!-- Instagram Feed Area -->
        <div class="instragram-feed-area owl-carousel">
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="/img/gallery/events/juneteenth/img (9).jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://www.instagram.com/barbelllens/">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>@BarbellLens</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="/img/gallery/events/lol_spring_finals/img (7).jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://www.instagram.com/barbelllens/">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>@BarbellLens</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="/img/gallery/street/raleigh/image_11.jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://www.instagram.com/barbelllens/">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>@BarbellLens</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="/img/gallery/events/dreamville/img (14).jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://www.instagram.com/barbelllens/">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>@BarbellLens</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
                <img src="/img/gallery/street/newyork/img (4).jpg" alt="">
                <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                    <a href="https://www.instagram.com/barbelllens/">
                        <i class="ti-instagram" aria-hidden="true"></i>
                        <span>@BarbellLens</span>
                    </a>
                </div>
            </div>
            <!-- Single Instagram Item -->
            <div class="single-instagram-item">
            <img src="/img/gallery/automotive/speedway/img (4).jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="https://www.instagram.com/barbelllens/">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>@BarbellLens</span>
                </a>
            </div>
        </div>
    </div>
</div>
